@model IEnumerable<StoreFrontLab.Data.EF.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Products</h2>
@if (Request.IsAuthenticated && User.IsInRole("Admin"))
{
<p>
    @Html.ActionLink("Create New", "Create")
</p>
}

<table class="table">
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.UnitsSold)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.InStock)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductImage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
         @Html.DisplayNameFor(model => model.Manufacturer.ManufacturerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductType.ProductTypeName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        @*<td>
            @Html.DisplayFor(modelItem => item.UnitsSold)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.InStock)
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.ProductImage)*@
            <img src="~/Content/css/img/prodImgs/t_@item.ProductImage" alt="Product Image" title="@item.ProductName" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Manufacturer.ManufacturerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductType.ProductTypeName)
        </td>
        @if (Request.IsAuthenticated && User.IsInRole("Admin"))
        {


        <td class="adminButtons">
            
            @Html.ActionLink("Edit", "Edit", new { id = item.ProductID }) |
            @Html.ActionLink("Details", "Details", new { id = item.ProductID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ProductID })
        </td>
        }
    </tr>
}

</table>
